<div class="footer_block"  layout-align="center center">
    <div class="footer_content">
        <ul>
            <li>&copy; Copyright {{ ::$ctrl.GetYear() }} Aberdeen Group, LLC. All rights reserved. Version {{ ::$ctrl.GetVersion() }}</li>
            <li><a href="http://aberdeen.com/_aberdeen/app/privacy-summary-revised.aspx" target="_blank">Privacy Policy</a></li>
            <li><a href="http://aberdeen.com/_aberdeen/app/terms-revised.aspx" target="_blank">Terms of Use</a></li>
        </ul>
    </div>
</div>
