.app-tooltip {
  visibility: hidden;
  opacity: 0.97;
  font-weight: 500;
  font-size: 12px !important;
  color: white;
  overflow: visible !important;

  position: fixed;
  background: #42414f;
  padding: 8px;
  height: auto;
  border-radius: 6px;
  white-space: normal !important;
  z-index: -1;

  &__arrow {
    position: fixed !important;
    opacity: 0.7;
  }

  a {
    pointer-events: all !important;
    color: white;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
  }

  p {
    margin-top: 0;

    &.last {
      margin-bottom: 0;
    }
  }
}