.single-dropdown-component {
  margin-bottom: 15px;
  position: relative;
  &:focus {
    outline: none;
  }
  &.disabled {
    background-color: #eeeeee;
    cursor: default;
  }
  &__input {
    border: 1px solid #99999a;
    padding: 0 15px;
    cursor: pointer;
    &__value {
      padding: 0;
      color: $medium-gray;
      line-height: 40px;
      font-weight: 300;
      font-size: 14px;
    }
    &:after {
      display: block;
      content: "\25BC";
      speak: none;
      font-size: 13px;
      -webkit-transform: scaleY(0.5) scaleX(1);
      transform: scaleY(0.5) scaleX(1);
      position: absolute;
      right: 18px;
      top: 0;
      line-height: 40px;
      color: $medium-gray;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    position: absolute;
    background: #ffffff;
    z-index: 10;
    max-height: 256px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    width: 100%;
    height: auto !important;
    overflow-y: scroll;
    &__element {
      font-size: 14px;
      overflow: hidden;
      padding: 15px;
      -webkit-transition: background .15s linear;
      transition: background .15s linear;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        background-color: $light-gray;
        text-overflow: initial;
        white-space: initial;
      }
    }
  }
}