.header-component {
  &__counts {
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 37px;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    &__row {
      padding: 18px 0 17px;
    }
  }
}
